@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  /* Colores */
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 55%);
  --dark-gray: hsl(0, 0%, 41%);

  /* Tipografias */
  --text: "Alata", sans-serif;
  --titles: "Josefin Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* generales */
a {
  text-decoration: none;
}

p,
button {
  font-family: var(--text);
}

h2,
.hero_content p,
.mobile-menu-nav ul {
  font-family: var(--titles);
  text-transform: uppercase;
}

.mobile-menu,
.desktop-menu {
  display: none;
}

/* Hero */

.hero {
  background-image: url("./imagenes/fondo2.jpg");
  background-size: cover;
  min-height: 80vh;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo header */
.logo {
  width: 7rem;
  color: var(--white);
}

/* boton menu y cerrar  */
.open-menu,
.close-menu {
  border: 0;
  background: transparent;
  color: var(--white);
  font-size: 1.5rem;
  cursor: pointer;
}

/* intro  */
.hero_content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.hero_content p {
  color: var(--white);
  font-size: 2rem;
  border: 2px solid var(--white);
  padding: 2rem;
}

/* menu mobile abierto */
.mobile-menu {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  position: fixed;
  inset: 0;
  padding: 2rem;
}

.mobile-menu_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.mobile-menu-nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mobile-menu-nav ul li a {
  color: var(--white);
  font-size: 1.5rem;
}

/* Inicio */

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.inicio {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 3rem;
}

.inicio_info {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0.5rem 2rem;
}

.inicio_info p {
  font-size: 0.75rem;
  color: var(--gray);
  line-height: 1.8;
}

/* Productos */

.productos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 3rem;
}

.productos h2 {
  text-align: center;
}

.productos_grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
  gap: 2rem;
}

.card {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.75rem;
  padding: 2rem 1rem;
  border: 1px solid var(--black);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  line-height: 1.8;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.card button {
  border: 1px solid var(--black);
  width: max-content;
  padding: 0.5rem 3rem;
  background-color: var(--gray);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.card button:hover {
  background-color: var(--dark-gray);
  transform: scale(1.1);
  transition: all 0.3s ease;
}

/* Review */

.reseñas {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  padding: 2rem 4rem;
}

.review h2 {
  text-align: center;
}

.review_grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.review {
  background: var(--gray);
  color: var(--white);
  padding: 2rem 1rem;
  border-radius: 12px;
  line-height: 1.8;
}

/* Contactos */

.contacto {
  background: var(--gray);
  padding: 3rem 2rem;
  display: flex;
  gap: 3rem;
  border-radius: 12px;
  padding: 2rem 3rem;
}

.textos_contacto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  line-height: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* footer */

.footer {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--white);
  padding: 2rem 3rem;
  text-align: center;
}

.logo-menu,
.footer-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.icons {
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}

.copy {
  color: var(--gray);
  font-size: 0.75rem;
}

@media screen and (min-width: 800px) {
  .hero {
    background-image: url(./imagenes/fondo1.jpg);
    padding: 2rem 6rem;
   height: 90vh;
  }

  .hero_content p {
    font-size: 2rem;
    margin: 0 0 4rem 2rem;
  }

  .open-menu {
    display: none;
  }

  .desktop-menu {
    display: block;
  
  }

  .desktop-menu ul {
    list-style: none;
    display: flex;
    gap: 1.2rem;
    font-family: var(--text);
  }

  .desktop-menu ul li a {
    color: var(--white);
    font-size: 1.2rem;
    cursor: pointer;
  }

  .inicio {
    padding: 6rem 8rem;
display: grid;
grid-template-columns: repeat(8, 1fr);
grid-template-rows: 1fr 1fr 60px;
  }

  .inicio > img {
max-width: 100%;
grid-column: 1/6;
grid-row: 1/3;
  }

  .inicio_info {
    grid-column: 5/9;
    grid-row: 2/4;
    background-color: var(--white);
    padding: 3rem;
align-items: center;
  }

  .inicio_info p {
  font-size: .9rem;
  line-height: 1.8;
}

.productos {
  gap: 4rem;
  padding: 2rem 6rem;
}


.reseñas{
  gap: 4rem;
  padding: 2rem 6rem;
}


.contacto{
  padding: 2rem 6rem;
}



.footer{
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 6rem;
  gap: 8rem;
}

.footer-texto{
  font-size: 1.2rem;
}

.footer-icons{
  gap: 3rem;
}

.icons{
  font-size: 1.5rem ;
  align-items: end;
}

.copy{
  font-size: 1rem;;
}

.logo{
  font-size: 2rem;
}

}
