/* Estilos Generales */
html {
  display: grid;
  height: 100%;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3b3030;
  color:#f8ede3;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;

}

header h1 {
  font-size: 32px;
}

.nav {
  background-color: #3b3030;
  position: fixed;
  bottom: 0; 
  z-index: 999;
  border-radius: 24px;
  width: 10;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
    color: #f8ede3;
  padding: 8px 16px;
}

main {
  
  overflow: auto;
  grid-row: 2/3;
}

section {
  padding: 60px 8px;
}

/* Inicio */
#inicio {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  object-fit: cover;
  z-index: -1;
}

.textos-inicio {
  color: #f8ede3;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  font-weight: 400;
  background-color: #3b303013;
  border-radius: 40px;
}

/* Productos (Flexbox) */
#productos {
  background-color: #3b3030;
  border-radius: 40px 40px 0 0;
  box-shadow: 8px 8px 0 0 rgba(0, 0, 0, 0.1);
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  margin-top: -120px;
}

/* Estilos para las Cards de Productos */
#productos .card {
  background-color: #f8ede3;
  border: 1px solid #f8ede3;
  border-radius: 16px;
  padding: 24px 12px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  text-align: center;
  box-sizing: border-box;
  grid-column: span 2;
  margin: 0 24px;
  transition: box-shadow 0.3s ease;
}

#productos .card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#productos .card img {
  border-radius: 5px;
  width: 70%;
  object-fit: cover;
}

#productos .card button {
  background-color: #00adb5;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 60%;
  min-width: 200px;
}

#productos .card button:hover {
  background-color: #393e46;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

/* Reseñas (Grid) */
#reseñas {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  background-color: #f8ede398;
  padding: 60px 32px;
}

/* Estilos para la Grid de Reseñas */
#reseñas .review {
  background-color: #f8ede3;
  border: 1px solid #ddd;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  grid-column: span 2;
  padding: 12px 36px;
  margin: 0 24px;
}

/*Contacto*/
#contacto {
  background-color: #3b3030;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.textos_contacto {
  color: #f8ede3;
  padding: 20px;
}

/* Formulario */
#contacto form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
  padding: 20px;
}

#contacto form input,
#contacto form textarea {
  width: 80%;
  min-width: 200px;
  margin-bottom: 12px;
}

#contacto form button {
  background-color: #00adb5;
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  width: 60%;
  min-width: 200px;
}

#contacto form button:hover {
  background-color: #393e46;
}

/* Footer */
footer {
  padding: 0 0 80px 0;
  background-color: #f8ede3;
}

.texto-footer {
  margin: 0 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Responsive */

/* Tablet (paisaje) */
@media (min-width: 768px) {
  section {
    padding: 60px 20px;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  section {
    padding: 80px 30px;
  }

  #contacto form input,
  #contacto form textarea {
    width: 90%;
    max-width: 500px;
    margin-bottom: 12px;
  }

  #contacto form button {
    width: 60%;
    max-width: 300px;
    margin-top: 12px;
  }
}
